GOOGLE_APPLICATION_CREDENTIALS=credentials/bq_key.json
GCP_PROJECT_ID=your-project-id
BQ_DATASET=ecommerce

# Choose from = openai or gemini
LLM_PROVIDER=openai

OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-4o-mini

GEMINI_API_KEY=AIza...
GEMINI_MODEL=gemini-2.5-flash

MEMORY_TURNS=4
